<html>


<head>
    <h1>Control the lights</h1>

    
    <p></p>
</head>


<body>

    
    <div style="position:absolute; left:100px; top:80px">
    <form action="/red" method="POST" >
        <button name="Red" value="Red">Red</button>
    </form> 
    </div>

    <div style="position:absolute; left:200px; top:80px">
    <form action="/blue" method="POST">
        <button name="Blue" value ="Blue">Blue</button>
    </form>
    </div>


    <div style="position:absolute; left:300px; top:80px">    
    <form action="/green" method="POST">
        <button name="Green" value ="Green">Green</button>
    </form>
    </div>

    <div style="position:absolute; left:400px; top:80px">
    <form action="/rainbow" method="POST">
        <button name="Rainbow" value ="Rainbow">Rainbow</button>
    </form>
    </div>




</body>
 </html>